@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100%;
  background-color: #000;
}

svg {
  overflow: visible;
}

.form__container {
  height: 70dvh;
  width: 70dvw;
  background: #e9e9e9;
  border-radius: 20px;
  display: flex;
  overflow: hidden;

  .left__section {
    width: 60%;
    height: 100%;
  }

  .right__section {
    width: 40%;
    height: 100%;
    background: #fff;
  }
}

.left__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


#character_one {
  position: absolute;
}

@keyframes slant {
  from {
    transform: skewX(0deg);
  }
  to {
    transform: skewX(-10deg);
  }
}


